[submodule "technology"]
	path = technology
	url = https://github.com/digitalreplica/technology.git
[submodule "hacking"]
	path = hacking
	url = https://github.com/digitalreplica/hacking.git
[submodule "git-knowledge"]
	path = git-knowledge
	url = https://github.com/digitalreplica/git-knowledge.git
[submodule "git-notes"]
	path = git-notes
	url = https://github.com/digitalreplica/git-notes.git
